<div class="container">

    <div class="row">

        <div class="column mt-5">

            <h1 class="text-center text-primary">ALL USERS</h1>

        </div>

        <div class="column mt-5">

            <table class="table table-bordered border-primary text-center">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PROFILE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">AGE</th>
                    <th scope="col">SALARY</th>
                    <th scope="col">UPDATE</th>
                    <th scope="col">DELETE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allUsersData;index as i">
                    <th scope="row">{{i+1}}</th>
                    <th><img src="{{item.image}}" width="100px"></th>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.salary}}$</td>
                    <td><a routerLink="update-user/{{item.userid}}"><i class="ri-edit-box-line fs-4 text-primary"></i></a></td>
                    <td><i class="ri-delete-bin-line fs-4 text-danger" (click)="delete(item.userid)"></i></td>
                  </tr>

                </tbody>
              </table>

        </div>

    </div>

</div>